body {
  margin: 0;
  background-color: green;
}
input {
  visibility: hidden;
}
label {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  background-color: red;
  border: 1px solid white;
  cursor: pointer;
  left: -100px;
}
.item:nth-of-type(1) {
  animation-name: itemAnimations;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}
@keyframes itemAnimations {
  0% {
    left: 120%;
    top: 10%;
  }
  25% {
    left: 80%;
    top: 50%;
  }
  50% {
    left: 50%;
    top: 30%;
  }
  75% {
    left: 30%;
    top: 40%;
  }
  100% {
    left: -50%;
    top: 10%;
  }
}
input:checked {
  counter-increment: count;
}
input:checked + label {
    opacity: 0;
    transition-duration: 0.5s;
  }
.result_count {
  position: absolute;
  bottom: 0px;
  margin: 0%;
  text-align: center;
  background-color: white;
  color: black;
  padding: 20px 0;
  font-size: 25px;
  font-family: sans-serif;
  width: 100%;
}
.result_count::before {
  content: 'Count: ';
}
.result_count::after {
  content: counter(count);
}
